<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>RegressionTestCases.p1()[pri:0, instance:org.jan31.RegressionTestCases@475530b9]<br/></td></tr>
<tr><td>checkin-test</td><td>RegressionTestCases.p1()[pri:0, instance:org.jan31.RegressionTestCases@475530b9]<br/></td></tr>
</table>
