<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>20/02/04 10:03:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test_01()[pri:0, instance:org.feb04.TestCases@5e5792a0]">Test_01</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/02/04 10:03:46</td>   <td>14980</td> <td>&nbsp;</td><td title="&lt;&lt;BaseGrid.kill()[pri:0, instance:org.feb04.TestCases@5e5792a0]">&lt;&lt;kill</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/02/04 10:03:46</td>   <td>14173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseGrid.screenShot()[pri:0, instance:org.feb04.TestCases@5e5792a0]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/02/04 10:03:17</td>   <td>-14816</td> <td>&nbsp;</td><td title="&gt;&gt;BaseGrid.setUp()[pri:0, instance:org.feb04.TestCases@5e5792a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
</table>
